{% extends 'main/base.html' %}

{% block content %}
<section class="section">
    <h2>Interesting Guitar Facts</h2>
    <ul>
        <li>The guitar is over <strong> 4,000 years old.</strong></li>
        <li>The world's largest playable guitar is <strong>13 meters long.</strong></li>
        <li>Electric guitars were invented in the <strong>1930s.</strong></li>
        <li>Jimi Hendrix played a right-handed guitar <strong> upside down.</strong></li>
        <li>The most expensive giutar ever sold cost <strong> over $6 million.</strong></li>
        <li>The fastest guitar player reached <strong>over 600 BPM.</strong></li>
        <li>There are guitar with <strong>18 strings.</strong></li>
    </ul>
</section>
{% endblock %}